/* 
    CSS Guide 

    1.  General Grid Styles
        Utility Classes
    2.  Mobile Grid
    3.  Tablet Grid
    4.  Desktop Grid
    5.  XL Grid

 */


 /* 1. ---General Grid Styles--- */

html {
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit; 
}
/* ---Utility Classes--- */

.hidden {
   display: none;
}

.box {
   background-color: rgb(255, 255, 255);
   color: rgb(27, 27, 27);
   border-radius: 5px;
   padding: 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:10px;
 }

 .logo { grid-area: auto; }
 .nav { grid-area: auto; }
 .product1 { grid-area: auto; }
 .product2 { grid-area: auto; }
 .service1 { grid-area: auto; }
 .service2 { grid-area: auto; }
 .service3 { grid-area: auto; }
 .service4 { grid-area: auto; }
 .service5 { grid-area: auto; }
 .service6 { grid-area: auto; }
 
 .grid-container {
   display: grid;
   grid-template-areas:
     'header header header header header header'
     'menu main main main right right'
     'menu footer footer footer footer footer';
   gap: 10px;
   background-color: #3e3e3e;
   padding: 10px;
 }
 
 .grid-container > div {
   background-color: rgba(255, 255, 255, 0.8);
   text-align: center;
   padding: 20px 0;
   font-size: 30px;
 }


/* 2. ---Mobile Library Grid Styles--- */


/* 3. ---Tablet Library Grid Styles--- */


/* 4. ---Desktop Library Grid Styles--- */


/* 5. ---X-Large Desktop Library Grid Styles--- */

